.helpingHand {
  background: url('https://hcldr.files.wordpress.com/2014/08/a-helping-hand-cristian-bernal.jpg');
  background-size: cover;
  background-position: center;
  height: 700px;
}

.hero {
  background: url('../public/images/hero.jpg');
  background-size: cover;
  background-position: 15% 50%;
  width: 100%;
  height: 700px;
}

.logoTitleContainer {
  display: inline-block;
  position: relative;
  top: 17px;
  left: 13.9%
}

.logo { 
  display: inline-block;
  height: 70px;
  width: 70px;
}

.title {
  display: inline-block;
  position: relative;
  margin-left: 20px;
  top: -3px;
  padding: 5px;
  color: #4AADCD;
  font-size: 21px;
  background-color: rgba(0, 0, 0, 0.2);
}

.subTitle {
  font-size: 17px;
}

.underSubTitle {
  font-size: 13px;
}

.headline {
  display: inline-block;
  position: relative;
  padding: 5px;
  margin-left: 14.03%;
  margin-top: 230px;
  font-size: 41px;
  color: #4AADCD;
  background-color: rgba(0, 0, 0, 0.25);
}

.loginRegister {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 70px;
  margin-left: 22%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.loginRegisterButtons {
  height: 58px;
  width: 210px;
  border: none;
  font-size: 18px;
  box-shadow: 2px 2px 10px #888888;
}

.spaceBetweenButtons {
  margin-right: 25px;
  margin-bottom: 25px;
}

.registerOptions {
  position: relative;
  top: 200px;
  justify-content: space-around;
}

.offsetLogo {
  position: relative;
  right: 17px;
}

.navigationBar {
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.5);
}

.squeezeParagraph {
  text-align: center;
  width: 200px;
  font-size: 14px;
  margin: 0 auto;
}

.logoleft {
  display: flex;
  justify-content: flex-start
}

.links {
  display: inline-block;
  text-align: center;
  margin: 0px 10px;
  font-size: 25px;
  color: white;
}

.links:hover {
  text-decoration: underline;
}

.underHeader {
  padding-top: 100px;
}

.fieldOrButton {
  height: 57px;
  width: 310px;
  border-radius: 55px;
  border: none;
  font-size: 18px;
  box-shadow: 2px 2px 10px #888888;
}

.fieldOrButton:focus {
  outline: none;
}

.button {
  text-align: center;
  color: white;
}

.signInButton {
  background-color: #1AAFD0;
}

.registerButton {
  background-color: #306B9F;
}

.createVolunteerForm {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 310px;
  margin: 0 auto;
}

.inline {
  display: inline-flex;
}

.halfInputField {
  margin: 0 2.5px;
  padding: 0 0 0 22.5px;
  width: 127.5px;
  background-color: #E5E5DF;
  border: none;
  color: black;
  font-size: 18px;
}

.inputField {
  padding: 0 0 0 22.5px;
  width: 287.5px;
  background-color: #E5E5DF;
  color: black;
  font-size: 18px;
}

.inputField:focus {
  outline: none;
}

.fieldLabel {
  padding-left: 22.5px;
  font-size: 13px;
}