.helpingHand {
  height: 700px;
  background: url('../public/images/binding.jpg');
  background-size: cover;
  background-position: center;
}

.navBar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 22px;
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(255, 255, 255, 0.9);
}

.navBarLinks {
  margin-right: 20px;
}

.hero {
  background: url('../public/images/hero.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 700px;
}

.logoTitleContainer {
  display: inline-block;
  position: relative;
  top: 17px;
  left: 10%;
}

.logo { 
  display: inline-block;
  height: 70px;
  width: 70px;
}

.logoFixed {
  position: fixed;
  top: 0;
  left: 5px;
  height: 70px;
  width: 70px;
}

.title {
  display: inline-block;
  position: relative;
  margin-left: 20px;
  top: -3px;
  padding: 5px;
  color: #4AADCD;
  font-size: 30px;
}

.subTitle {
  font-size: 19px;
}

.underSubTitle {
  font-size: 18px;
}

.headline {
  display: inline-block;
  position: relative;
  padding: 5px;
  margin-left: 10%;
  margin-top: 230px;
  font-size: 41px;
  color: #4AADCD;
}

.accountTypeTitle {
  color: #4AADCD;
  font-size: 41px;
}

.loginRegister {
  position: relative;
  top: 25px;
  display: flex;
  justify-content: center;
  flex-flow: row wrap; 
}

.loginRegisterButtons {
  margin: 25px;
  height: 58px;
  width: 210px;
  border: none;
  font-size: 18px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
}

.registerOptions {
  background: url('../public/images/unsplash.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  height: 700px;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.registerOption {
  background-color: white;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
  padding: 10px;
  margin: 10%;
}

.registerOption:hover {
  opacity: 0.5;
}

.volunteerOptionImage {
  margin: 0 18.5px;
}

.organizationOptionImage {
  margin: 0 0 10px 0;
}

.offsetLogo {
  position: relative;
  right: 17px;
}

.navigationBar {
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.5);
}

.squeezeParagraph {
  text-align: center;
  width: 200px;
  font-size: 14px;
  margin: 0 auto;
}

.logoleft {
  display: flex;
  justify-content: flex-start
}

.links {
  display: inline-block;
  text-align: center;
  margin: 0px 10px;
  font-size: 25px;
  color: white;
}

.links:hover {
  text-decoration: underline;
}

.underHeader {
  padding-top: 100px;
}

.fieldOrButton {
  height: 58px;
  width: 210px;
  border: none;
  font-size: 18px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);;
}

.button {
  text-align: center;
  color: white;
}

.signInButton {
  background-color: #1AAFD0;
}

.registerButton {
  background-color: #306B9F;
}

.createVolunteerForm {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 310px;
  margin: 0 auto;
}

.halfInputField {
  margin: 0 2.5px;
  padding: 0 10px;
  width: 127.5px;
  background-color: white;
  border: none;
  color: black;
  font-size: 18px;
}

.inputField {
  padding: 0 10px;
  width: 190px;
  background-color: white;
  color: black;
  font-size: 18px;
}

input:focus {
  outline: none;
}

.fieldLabel {
  padding-left: 10px;
  font-size: 13px;
}

button:hover {
  opacity: 0.5;
}

